.footer-main {
    height: 200px;
    width: 100%;
}

/*!* bootstrap table stripe row color *!*/
/*.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {*/
/*    background-color: #d7ecfb;*/
/*}*/

/*!* bootstrap table hover row color *!*/
/*.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {*/
/*    background-color: #edf7fd;*/
/*}*/


/* loading gif */
.icon {
    width: 200px;
    height: 200px;
    background: url(../img/loading.gif) center no-repeat #fff;
}
#loader {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    background: white;
    bottom: 0;
    left: 0;
}

.loader-text {
    text-align: center;
    transition: 0.3s;
}

#loadingWarning {
    opacity: 0;
}

#loadingText {
    opacity: 0;
}

/* chart blade */
.graph-data {
    margin-top: 20px
}

.graph-buttons {
    display: inline-block;
}

.export-buttons {
    float:right;
}

.table {
    margin-top: 10px;
    display: none;
}

.custom-control {
    z-index: 0;
}

.font-slider {
    width: 100%;
    margin-top: 5px;
}

.error {
    text-align: center;
}

.warning {
    font-weight: bold;
    color: red;
}
